<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuários</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Cadastrar</h1>
        
        <form id="userForm">
            <input type="text" id="login" placeholder="Login" required>
            <input type="password" id="password" placeholder="Senha" required>
            <input type="text" id="palavraSecreta" placeholder="Palavra Secreta" required>
            <button type="submit">Salvar</button>
        </form>
        
        <h2>Lista de Usuários</h2>
        <ul id="userList"></ul>
    </div>

    <script src="script.js"></script>
</body>
</html>