body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	background: rgb(150,6,140);
	background: linear-gradient(90deg, rgba(150,6,140,1) 13%, rgba(224,98,60,1) 95%);
}

.container {
    width: 300px;
    padding: 20px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5.6px);
	-webkit-backdrop-filter: blur(5.6px);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

h1, h2 {
	color: #ffff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;
	background: rgba(255, 255, 255, 0.55);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.6px);
	-webkit-backdrop-filter: blur(5.6px);
	border: 1px solid rgba(255, 255, 255, 0.28);
	color: black;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.73);
}

ul {
    list-style-type: none;
    padding: 0;
	color: #ffff;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

button.delete-btn {
    background: rgba(255, 255, 255, 0.55);
}

button.delete-btn:hover {
     background-color: #DC143C;
}